*{

}
body{
    margin:0px;
}

:root{
    
    background-color: lightseagreen;
    
}
.container{
   
    display:flex;
    flex-direction: column;
    width:100vw;
    align-items: center;
    justify-content: center; 
    
    
}
.heading{
    margin-top: 2rem;
}
.container p{
    font-size: large;
    font-weight: 200;
    font-stretch: condensed;
    margin-bottom: 2rem;

}
#check-button{
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}
#bill-amount{
    padding: 0.5rem 0.5rem;
    font-size: large ;
    font-weight: bold solid black;
    margin-bottom: 1rem;
    border-width: medium;
}
.bill-label{
    padding: 0.5rem 0.5rem;
    font-size:x-large ;
    font-weight: bold solid black;
}
#cash-amount{
    padding: 0.5rem 0.5rem;
    font-size: large ;
    font-weight: bold solid black;
    
    border-width: medium;
}
.cash-label{
    padding: 0.5rem 0.5rem;
    font-size:x-large ;
    
    font-weight: bold solid black;
}

th, td {
    border: 2px solid black;
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
    background-color: white; 
    margin:0px;
}
.caption-change{
    padding: 0.5rem 0.5rem;
    font-size:x-large ;
    
    font-weight: bold solid black;

}
.footer{
    background-color: black;
    text-align: center;
    bottom: 0;
    padding: 1rem 1rem;
    color: white;
    margin-top: 30px;
}
.inside-footer{

    font-size:large ;
    color:white;
    /* margin-top: 5%; */
    font-weight:medium;
}
.link{
    text-decoration: none;
    font-size:large ;
    color:white;
    font-weight:medium;
}
.inline-link{
   
    list-style: none;
   
    display: inline;
    margin-right: 2rem;
}




